<div id="header">
  <h2>Comunicações de perda</h2>

  <button routerLink="./cadastrar">
    Cadastrar
  </button>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>CPF</th>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Data colheita</th>
    <th>Causa</th>
    <th>Ações</th>
  </tr>

  <tr *ngFor="let communication of communications">
    <td>{{communication.id}}</td>
    <td>{{communication.farmer.cpf}}</td>
    <td>{{communication.farmer.name}}</td>
    <td>{{communication.tillage.type}}</td>
    <td>{{communication.tillage.harvest_date}}</td>
    <td>{{getLossCause(communication)}}</td>

    <td>
      <button [routerLink]="communication.id!">
        Ver/Editar
      </button>

      <button (click)="handleDelete(communication.id!)">
        Deletar
      </button>
    </td>
  </tr>
</table>
