<app-default-table
  [title]="title"
  [tableTemplate]="tableContainer"
  [loading]="dataLoading"
></app-default-table>

<ng-template #tableContainer>
  <table>
    <tr>
      <th>ID</th>
      <th>CPF</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Data colheita</th>
      <th>Causa</th>
      <th>Ações</th>
    </tr>

    <tr *ngFor="let communication of communications">
      <td>{{communication.id}}</td>
      <td>{{communication.farmer.cpf}}</td>
      <td>{{communication.farmer.name}}</td>
      <td>{{communication.tillage.type}}</td>
      <td>{{communication.tillage.harvest_date}}</td>
      <td>{{getLossCause(communication)}}</td>

      <td>
        <button
          mat-icon-button
          color="primary"
          [routerLink]="communication.id!"
        >
          <mat-icon>create</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          (click)="handleDelete(communication.id!)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</ng-template>
