<app-default-form
  [title]="title"
  linkToBack="/lavouras"
  [formTemplate]="formContainer"
  [isEditMode]="isEditMode"
  [loading]="dataLoading"
  (handleSubmit)="handleSubmit()"
></app-default-form>

<ng-template #formContainer>
  <form
    [formGroup]="tillageForm"
    novalidate
    autocomplete="off"
    (keyup.enter)="handleSubmit()"
  >
    <div id="location-row">
      <mat-form-field
        [appearance]="formAppearance"
        id="longitude-field"
      >
        <mat-label>Longitude</mat-label>

        <input
          matInput
          formControlName="longitude"
          [allowNegativeNumbers]="true"
          mask="separator,0*"
          thousandSeparator=""
        >

        <mat-error
          *ngIf="tillageForm.get('longitude')!.hasError('required')"
        >
          <strong>Longitude</strong> é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field
        [appearance]="formAppearance"
        id="latitude-field"
      >
        <mat-label>Latitude</mat-label>

        <input
          matInput
          formControlName="latitude"
          [allowNegativeNumbers]="true"
          mask="separator,0*"
          thousandSeparator=""
        >

        <mat-error
          *ngIf="tillageForm.get('latitude')!.hasError('required')"
        >
          <strong>Latitude</strong> é obrigatório
        </mat-error>
      </mat-form-field>

      <div id="toggle-wrapper">
        <mat-button-toggle
          (click)="toggleLoadDeviceLocation()"
        >
          <mat-icon>search</mat-icon>
        </mat-button-toggle>
      </div>
    </div>

    <mat-form-field
      [appearance]="formAppearance"
      id="type-field"
    >
      <mat-label>Tipo</mat-label>

      <input matInput formControlName="type">

      <mat-error
        *ngIf="tillageForm.get('type')!.hasError('required')"
      >
        <strong>Tipo da colheita</strong> é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [appearance]="formAppearance"
      id="harvest-date-field"
    >
      <mat-label>Data da colheita</mat-label>

      <input
        matInput
        [matDatepicker]="datePicker"
        formControlName="harvestDate"
      >

      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>

      <mat-datepicker
        #datePicker
      ></mat-datepicker>

      <mat-error
        *ngIf="tillageForm.get('harvestDate')!.hasError('required')"
      >
        <strong>Data de colheita</strong> é obrigatório
      </mat-error>
    </mat-form-field>
  </form>
</ng-template>
