form {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

#location-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #toggle-wrapper {
    margin: .25em 0;
    padding-bottom: 1.34375em;
  }

}

#type-field,
#harvest-date-field {
  width: 100%;
}

#location-row,
#type-field,
#harvest-date-field {
  margin-bottom: 10px;
}

::ng-deep .success-snackbar {
  background-color: limegreen;
  color: white;
}

::ng-deep .error-snackbar {
  background-color: firebrick;
  color: white;
}

::ng-deep .warning-snackbar {
  background-color: #fff3cd;
  color: #856404;
}
