<form
  [formGroup]="communicationForm"
  novalidate
  autocomplete="off"
  (keyup.enter)="handleSubmit()"
>
  <app-async-select
    [form]="communicationForm"
    controlName="farmer"
    label="Agricultor"
    [service]="farmersService"
    [displayFunction]="displayFunctionFarmer"
  ></app-async-select>

  <app-async-select
    [form]="communicationForm"
    controlName="tillage"
    label="Lavoura"
    [service]="tillagesService"
    [displayFunction]="displayFunctionTillage"
  ></app-async-select>

  <app-async-select
    [form]="communicationForm"
    controlName="lossCause"
    label="Causa da perda"
    [options]="LOSS_CAUSES"
    [displayFunction]="displayFunctionLossCause"
  ></app-async-select>
</form>

<button (click)="handleSubmit()">
  {{isEditMode ? 'Editar' : 'Cadastrar'}}
</button>
