form {
  width: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;

  app-async-select {
    width: 100%;
    margin: 10px 0;
  }
}

::ng-deep .success-snackbar {
  background-color: limegreen;
  color: white;
}

::ng-deep .error-snackbar {
  background-color: firebrick;
  color: white;
}

::ng-deep .warning-snackbar {
  background-color: #fff3cd;
  color: #856404;
}
