<app-default-table
  [title]="title"
  [tableTemplate]="tableContainer"
  [loading]="dataLoading"
></app-default-table>

<ng-template #tableContainer>
  <table>
    <tr>
      <th>ID</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Tipo</th>
      <th>Data colheita</th>
      <th>Ações</th>
    </tr>

    <tr *ngFor="let tillage of tillages">
      <td>{{tillage.id}}</td>
      <td>{{tillage.longitude}}</td>
      <td>{{tillage.latitude}}</td>
      <td>{{tillage.type}}</td>
      <td>{{tillage.harvest_date}}</td>

      <td>
        <button
          mat-icon-button
          color="primary"
          [routerLink]="tillage.id!"
        >
          <mat-icon>create</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          (click)="handleDelete(tillage.id!)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <div
    id="pagination"
    *ngIf="pagination"
  >
    <button
      mat-icon-button
      [disabled]="pagination.previous_page === null"
      (click)="loadPreviousPage()"
    >
      <mat-icon>arrow_left</mat-icon>
    </button>

    <p>
      <strong>
        {{current_page}}
      </strong>
      <strong>
        /
      </strong>
      <strong>
        {{getAllPages()}}
      </strong>
    </p>

    <button
      mat-icon-button
      [disabled]="pagination.next_page === null"
      (click)="loadNextPage()"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</ng-template>
